.toc-item {
    display: block;
    text-decoration: none;
    color: var(--mantine-color-text);
    line-height: 1.2;
    font-size: var(--mantine-font-size-sm);
    padding: var(--mantine-spacing-xs);
    border-top-right-radius: var(--mantine-radius-sm);
    border-bottom-right-radius: var(--mantine-radius-sm);
    border-left: 1px solid var(--mantine-color-gray-3);

    &:hover {
        text-decoration: none;
        background-color: var(--mantine-color-gray-0);
    }
}

.toc-item.active {
    font-weight: 500;
    border-left-color: var(--mantine-color-blue-6);
    color: var(--mantine-color-blue-6);

    &,
    &:hover {
        background-color: var(--mantine-color-blue-light) !important;
    }
}

.ag-center-cols-clipper {
    min-height: unset !important;
}

.ag-center-cols-viewport {
    min-height: unset !important;
}

.ag-theme-alpine.compact {
    --ag-cell-horizontal-padding: 12px;
}

.ag-theme-alpine {
    --ag-header-background-color: var(--mantine-color-gray-0) !important;
    --ag-border-color: var(--mantine-color-gray-3) !important;
}
